<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entity.name %>
</p>

<p>
  <strong>Database:</strong>
  <%= @entity.database %>
</p>

<p>
  <strong>Domain:</strong>
  <%= link_to @entity.domain, "https://#{@entity.domain}", target: '_blank' %>
</p>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
